
*.png

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# 
./workplaces_map/productionfiles/

# Python # 
*.py[cod]
*$py.class

# Installer logs 
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
myenv/
venv/
ENV/
env.bak/
venv.bak/
