{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Union drive mapping</title>

    <link rel="stylesheet" href="{% static 'css/base_html.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'bootstrap-icons-1.10.5/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'leaflet-draw/leaflet.draw.css' %}" />
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'leaflet-draw/leaflet.draw.js' %}"></script>
<!--
    <style>

    </style> -->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/">Admin/upload floorplans</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>
