{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index_html.css' %}" />

<div class="row">
    <div class="col-md-3">
        <div class="sidebar scrollable-sidebar" id="sidebar">
            <input type="text" id="search" placeholder="Search locations..." class="form-control">
            <ul id="location-list" class="list-group"></ul>
            <hr>
            <div id="room-info-message">
                <p><b>Draw a room or click to select an existing room</b></p>
                <br />
                <div id="color-legend">
                  <b>Color Legend</b>
                  <div>
                      <span class="legend-color" style="background-color: green;"></span>
                      <span>No follow-up needed</span>
                  </div>
                  <div>
                      <span class="legend-color" style="background-color: orange;"></span>
                      <span>Follow-up needed</span>
                  </div>
                  <div>
                      <span class="legend-color" style="background-color: blue;"></span>
                      <span>No follow-up needed, but no last visited date</span>
                  </div>
              </div>
            </div>
            <div id="room-info">
                <h4>Room Details</h4>
                <form>
                    <div class="form-group">
                        <label for="room-name">Room name</label>
                        <input type="text" class="form-control" id="room-name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="room-type">Room Type</label>
                        <select id="room-type" class="form-control" disabled>
                            <!-- Options will be populated dynamically by JavaScript -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="workers-count">Workers count</label>
                        <input type="number" class="form-control" id="workers-count" disabled>
                    </div>
                    <div class="form-group">
                        <label for="last-contacted">Last contacted</label>
                        <input type="date" class="form-control" id="last-contacted" disabled>
                    </div>
                    <div class="form-group">
                        <label for="follow-up-needed">Follow-up needed</label>
                        <input type="checkbox" class="form-control" id="follow-up-needed" disabled>
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <textarea class="form-control" id="notes" rows="3" disabled></textarea>
                    </div>
                    <button type="button" id="save" class="btn btn-primary" disabled>Save</button>
                    <button type="button" id="cancel" class="btn btn-secondary" disabled>Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="container container-right">
            <div id="navigation" class="text-center">
                <button id="previous" class="btn btn-default">Previous</button>
                <b><span id="floor-number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b>
                <button id="next" class="btn btn-default">Next</button>
            </div>
            <h2 id="floor-name" class="text-center"></h2>
            <div class="text-center floor-plan-container">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/index_html.js' %}"></script>
{% endblock %}
