{% extends 'base.html' %}
{% load tz %}

{% block content %}
<h1>Text Input</h1>

<!-- Option code snippet to catch possible errors -->
{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}


<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Your Name</label>
        <input type="text" class="form-control" name="name" id="id_name" required autocomplete="name">
    </div>
    <div class="form-group">
      <label for="id_notes">Rooms visited and other notes</label>
        <br> Include: building, room #, # workers that share the room, whether follow-up is needed.
        <br> Please specify if rooms are not offices (eg are lounges, etc.) and include other helpful notes as needed.
        <br>
        <textarea class="form-control" name="notes" id="id_notes" rows="5" required autocomplete="off"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>Previous Entries</h2>

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for entry, form in merged_entries %}
      <div class="entry">
          {{ form.id.as_hidden }}
          <h3>{{ entry.name }}</h3>
          <p>{{ entry.notes }}</p>
          <p><small>
              {% localtime on %}
              Submitted at {{ entry.created_at }}
              {% endlocaltime %}
          </small></p>
          <div>
              <label>
                <input type="checkbox" name="form-{{ forloop.counter0 }}-is_mapped" value="True" {% if form.is_mapped.value %}checked{% endif %}> Added to map?
              </label>
          </div>
      </div>
    {% endfor %}

    <button type="submit" name="update" class="btn btn-primary">Update checkboxes</button>
</form>

{% endblock %}
