#room-info {
    display: none;
    background-color: #f0f0f0;
    padding: 1em;
    margin-top: 1em;
    border-radius: 4px;
}

#room-info.disabled {
    pointer-events: none;
    background-color: #ccc;
}

#room-info-message {
    display: block;
}

.legend-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
