#room-info {
    display: none;
    background-color: #f0f0f0;
    padding: 1em;
    margin-top: 1em;
    border-radius: 4px;
}

#room-info.disabled {
    pointer-events: none;
    background-color: #ccc;
}

#room-info-message {
    display: block;
}

.legend-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.btn-delete {
    color: red;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-buttons {
    display: flex;
}

/* Updated and new styles */
.col-md-3 {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Take up the full viewport height */
}

.scrollable-sidebar {
    flex: 1; /* Allow this to grow and take up available space */
    overflow-y: auto; /* Add scrolling if content exceeds height */
    border: 1px solid lightgrey; /* Add a light grey border */
    padding: 10px; /* Add some padding for aesthetic reasons */
}

#search {
    width: 100%; /* Make the search box full width */
    margin: 0; /* Remove any default margin */
    padding: 5px; /* Add some padding for aesthetic reasons */
    border: 1px solid lightgrey; /* Add a light grey border */
}

.info-container {
    height: 50%; /* This will take up half the vertical space */
}

/* Reset default margins for ul element */
#location-list {
    margin-top: 0;
    padding-left: 0;
}

.container-right {
    padding-right: 0; /* Ensures no padding is causing width issues */
    padding-left: 0;  /* Ensures no padding is causing width issues */
}

.floor-plan-container {
    overflow-x: auto; /* Allows horizontal scrolling if necessary */
    max-width: 100%; /* Prevents the container from exceeding the viewport width */
    margin-left: -15px; /* Adjusts for any negative margins that may cause overflow */
    margin-right: -15px; /* Adjusts for any negative margins that may cause overflow */
}



/* some buildings list stuff */

.priority-indicator {
    display: inline-block;
    margin-right: 8px; /* Adjust spacing as needed */
    width: 24px; /* Or your preferred size */
    height: 24px; /* Or your preferred size */
    border-radius: 50%; /* Makes it a circle */
    text-align: center; /* Center the icon in the circle */
    vertical-align: middle; /* Aligns with the text */
}

.bg-grey { background-color: #808080; /* Or any grey color you prefer */ }
.bg-green { background-color: #28a745; }
.bg-yellow { background-color: #ffc107; }
.bg-red { background-color: #dc3545; }

/* Styling for the icons themselves */
.bi {
    /* Bootstrap icons class styling if needed */
    color: white; /* White icons on colored background */
    line-height: 24px; /* Aligns icon vertically */
}
